{% include "base.html" %}
<h1>Loans</h1>
<ul>
{% for loan in loans %}
    {% if loan.own %}
    <li><a href="{% url 'loan_detail_edit' loan.id %}">{{ loan.company }} </a>. You <b>have</b> permissions to edit this loan.</li>
    {% else %}
    <li><a href="{% url 'loan_detail' loan.id %}">{{ loan.company }} </a>.  You do <b>not</b> have permissions to edit this loan.</li>
    {% endif %}
    {% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
<a href="{% url 'loan_add' %}" >Add loan</a>

