{% include "base.html" %}
<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
      <td>loan id</td>
      <td> {{object.id}} </td>
  <tr>
    <td>created</td>
    <td>{{object.created}}</td>
  </tr>
  <tr>
    <td>company</td>
    <td>{{object.company}}</td>
  </tr>
  <tr>
    <td>synopsis</td>
    <td>{{object.synopsis}}</td>
  </tr>
  <tr>
    <td>owner</td>
    <td>username={{object.owner}}</td>
  </tr>
</table>

<a href="{%url 'loan_all' %}">All loans</a>
